{# templates/continent/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Continents{% endblock %}

{% block body %}
    <h1>Liste des Continents</h1>
    <ul>
        {% for continent in continents %}
            <li>{{ continent.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}


